<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ronald.footmate" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="饭友"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="饭友" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="饭友" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="饭友" >
        </activity>
        <activity
            android:name=".SelectTimeActivity"
            android:label="饭友" >
        </activity>
        <activity
            android:name=".WaitingActivity"
            android:label="@string/title_activity_waiting" >
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main_activity2" >
        </activity>
    </application>

</manifest>
